
.form {
  background: #fff;
  padding: 0 1.5rem 1.5rem;
  margin-top: 1rem;
  color: #000;
  box-shadow: 1px 1px 7px #ccc;
  margin-bottom: 1rem;

  .description {
    margin-bottom: 1.5rem;
  }
}

small {
  display: block;
}

input, textarea {
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-family: sans-serif;
  box-sizing: border-box;
  max-width: 100%;
}

.field {
  display: block;
  margin-bottom: 1.5rem;

  span {
    font-weight: bold;
    display: block;
    cursor: pointer;
  }

  textarea {
    width: 100%;
    min-height: 15rem;
  }

  small, p {
    font-size: 0.95rem;
    color: #666;
    display: block;
  }

  small {
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
    line-height: 1;
  }
}

.field-checkbox {
  display: flex;
  align-items: flex-start;
  width: 100%;

  & > input {
    margin-right: 0.8rem;
    margin-top: 0.4rem;
  }

  p {
    margin-top: 0;
  }
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 500ms;
  margin-top: 1rem;
}

.btn-primary {
  background: $primary-color;

  &:hover {
    background-color: $primary-color-hover;
  }

  &:disabled {
    background-color: $primary-color-hover;
    cursor: not-allowed;
    color: #6d6d6d;
  }
}
