$primary-color: #fed43f;
$primary-color-hover: #ffdd65;

:root {
  --primary-color: #fed43f;
  --primary-text-color: #543631;
  --primary-link-color: #108643;
  --secondary-color: #fcfaf6;
  --secondary-text-color: #303030;
  /* Highlight text color of table of content */
  --toc-highlight-text-color: #d46e13;
}
