{% macro render_header() %}
{% if config.default_language == lang %}
{% set section = get_section(path="_index.md") %}
{% else %}
{% set section = get_section(path="_index." ~ lang ~ ".md") %}
{% endif %}
<a href="{{ section.permalink }}">
  <div class="logo">
    {{ config.title }}
  </div>
</a>

<nav>
  {% for page in section.pages %}
  <a class="nav-item subtitle-text" href="{{ page.permalink }}">{{ page.extra.menu | default(value = page.title) }}</a>
  {% endfor %}
</nav>
{% endmacro render_header %}
